[user]
	name = Rahil Bhimjiani
	email = rahil3108@gmail.com
	signingKey = ECAD322B56177724
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[format]
	pretty = oneline
[log]
	abbrevCommit = true
[tag]
	gpgSign = true
